CHANGES-202605.md
resume
/ai/
*.o
*.a
*~
*.pc
*.gcda
*.gcno
*.orig
*.rej
t-*[0-9]
t-verifyperf
t-signperf
t-cleanup
t-setup
/build/
/build-*/
Testing/
build.log
build-warnings.txt
build-config.h
build-clang-warnings.txt
*.tar.gz
*.tar.gz.md5
*.tar.gz.sha1
*.tar.gz.asc
tags
core
*.core
build-au
phoenixdkim-[0-9].[0-9].[0-9]
ctest-output.txt
*.swp
*.kate-swap
