/ai/
*.o
*.lo
*.la
*.a
*~
*.pc
*.gcda
*.gcno
*.orig
*.rej
t-*[0-9]
t-verifyperf
t-signperf
t-cleanup
t-setup
.deps/
.libs/
/build/
/build-strict/
Testing/
build-config.h.in
missing
stamp-h*
build.log
build-warnings.txt
build-config.h
build-clang-warnings.txt
/build-clang/
/build-cproc/
/build-debug/
/build-helgrind/
/build-scan/
/build-valgrind/
config.log
config.status
ltmain.sh
libtool
Makefile.in
*.tar.gz
*.tar.gz.md5
*.tar.gz.sha1
*.tar.gz.asc
tags
.deps
autom4te.cache
core
*.core
build-au
opendkim-[0-9].[0-9].[0-9]
ctest-output.txt
*.swp
