[Unit]
Description=opendkim Milter
Documentation=man:opendkim(8) man:opendkim.conf(5) man:opendkim-lua(3) man:opendkim-genkey(8) man:opendkim-genzone(8) man:opendkim-testkey(8) man:opendkim-testmsg(8)
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
RuntimeDirectory=opendkim
RuntimeDirectoryMode=0750
ExecStart=/usr/sbin/opendkim -f -x /etc/opendkim.conf
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
User=opendkim
Group=opendkim
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
